.contentPage {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contentPage__Loader {
    width: 100vw;
    height: 100vh;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pokemonCard__Container {
    width: 22vw;
    height: 20vh;
    margin-top: 8%;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 550px) {
    #pokemonCard__Container {
        width: 60vw;
    }
}
