@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');

#created {
    display: block;
    margin: auto;
    color: green;
    text-align: center;
}

.createPokemon {
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 15%;
    background: linear-gradient(to bottom, #fefcea 0%,#f1da36 5%,#f1da36 15%,#f1da36 25%);
}

.createPokemon__form {
    padding: 4% 2%;
    font-family: 'Titillium Web', sans-serif;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 15px;
    background-color: white;
}

header {
    text-align: center;
    padding-bottom: 5%;
}

form input {
    width: 50%;
}

.createPokemon__Footer {
    padding-bottom: 2%;
    width: 100%;
    position: sticky;
}

.createPokemon__FooterSubmit input {
    margin-top: 5%;
    width: 13%;
}

.createPokemon__Main {
    margin-bottom: 5%;
}

#pokemonTypesSelected {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

#warningTypes {
    display: block;
    text-align: center;
    color: #E12A2E;
}

div form main span {
    display: inline;
    color: #E12A2E;
}

div form footer input {
    margin-top: 2%;
    max-width: 20%;
}

div form main input {
    border-radius: 5px;
    margin: auto;
}

