.pokemonCard {
    background-color: rgb(255, 250, 250);
    text-align: center;
    height: 20vh;
    width: 100%;
    border-radius: 5px;
}

.pokemonCard__Header {
    padding-top: 8%;
}

.pokemonCard__Main {
    width: 100%;
}

.pokemonCard__ImageContainer {
    width: 100%;
}

#pokemonImage {
    object-fit: contain;
}
