.results__ContentPage {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #fefcea 0%,#f1da36 5%,#f1da36 15%,#f1da36 25%);
}

#pokemonCard__ContainerResults {
    width: 20vw;
    text-align: center;
    border-radius: 5px;
    margin-top: 8%;
}

#pokemonCard__ContainerResults .pokemonCard {
    padding-bottom: 5%;
    height: 25vh;
}

#pokemonCard__ContainerResults div img {
    max-width: 100%;
    height: 15vh;
}